# Auto detect text files and perform LF normalization on all git text blobs
* text eol=lf

# Specify binary types explicitly to remove bogus 'modified' files on git clone
# ADD any additional repo binary file extensions to this list
*.bmp binary
*.doc binary
*.docx binary
*.gif binary
*.ico binary
*.jpg binary
*.jpeg binary
*.pdf binary
*.png binary
*.rtf binary
*.tif binary
*.zip binary

# Standard to msysgit
*.doc	 diff=astextplain
*.docx diff=astextplain
*.dot  diff=astextplain
*.pdf  diff=astextplain
*.rtf	 diff=astextplain


# Recommended core config settings:
#   git config --global core.eol lf
#   git config --global core.autocrlf input
#   git config --global core.safecrlf warn
